{% extends "base.html" %} {% block content %}
<div
  style="
    background: radial-gradient(#edfda3d0 30%, #f0aa12e9 100%);
    padding: 6%;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <div class="feedcontainer">
    <h1 class="text-center" style="color: black;">Feedback</h1>
    <form method="POST" class="feedform">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.feed.label(class="form-group text-dark text-center") }}
        {{form.feed(class='form-control bg-dark text-white', rows="10") }}<br />
      </div>
      <div class="form-group text-center">
        {{ form.submit(class="loginbtn") }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
