{% extends "base.html" %}
{% block content %}
<div
  style="
    background: radial-gradient(#edfda3d0 30%, #f0aa12e9 100%);
    padding: 6%;
    width: 100%;
    min-height: 100vh;
  "
>
<div class="container">
  <h2 class="text-center">Instructions</h2>
  <div class="instruction" style="margin-top:5%">
    <h3>How to play : </h3>
    <h6><i> 1. Register yourself and a teammate first by clicking Register at homepage.</i></h6>
    <h6><i>2. If you want to participate alone you can register yourself also. Kindly give same roll numbers for both the members.</i></h6>
    <h6><i>3. Login at homepage and use your team name(case sensitive) and password given at the time of registration.</i></h6>
   
    <h6><i>4. Click on <B> BUGGY BUS WEBSITE </B> button to go to website in which you have find bugs and vulnerabilities.</i></h6>
    <h6><i>5. Take a screenshot of the bugs and vulnerabilities that you find and submit them in submit portal. For submissions related queries please read explanation given below.</i></p>
    <h6><i>6. If your submission is accepted then you will be given points accordingly for which you will be notified.</i></h6>
    <h6><i>Tip: Keep and eye out for announcements and notifications.</i></h6>
  </div>
  <div class="instruction" style="margin-top:5%">
    <h3>What bugs and vulnerabilities you can expect : </h3>
    <h6><i>1. There are many bugs such as Invalid link.</i></h6>
 
  </div>
  <div class="instruction" style="margin-top:5%">
    <h3>Submissions : </h3>
    <h6><i>1. In the main page you can submit your answers by clicking on 'Submit answer' button in the navigation bar.</i></h6>
    <h6><i>2. You have to submit screenshot of the bug/vulnerability along with the explanation why it is a bug/vulnerability.</i></h6>
    <h6><i>3. Try to keep your explanation simple.</i></h6>
   
    <h6><i>4. If the admin finds the explanation satisfactory then given points according to bugs/vulnerability that you have found. Otherwise you will get a rejected submission notification.</i></h6>
    <h6><i>5. You can expect the review of your submission within few hour of your submission. But for the submission given between <B> 11AM to 5PM </B>, the review will be done after 11.30AM only.</i></p>
  </div>

</div>
</div>
{% endblock %}
